@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --line-color: #e5e7eb;

  --text: #0e1807;
  --background: #edf7e4;
  --primary: #41671e;
  --secondary: #79d7ad;
  --accent: #3bc4a9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #eef8e7;
    --background: #111b08;
    --primary: #bbe198;
    --secondary: #28865b;
    --accent: #3bc4a9;
  }
}

body {
  color: var(--text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hero-head-text  {
    @apply font-black text-text lg:text-7xl lg:leading-5 md:text-5xl sm:text-3xl text-xl  mt-10;
  }
}
